/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

@layer base {
  body {
    margin: 0;
    @apply font-display;
    /* Open Sans by default */
    color: #0f172a;
    background: #ffffff;
  }
}
